.container{
    width: 100%;
    text-align: center;
    margin-left: auto;
    position: relative;    
}

h1,h2,h3,p{
    font-family: 'Roboto Mono', monospace;
}

.section-style{
    background-image: -webkit-linear-gradient(135deg, #43B7B8, #436AAC, #8929AD);
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom:10px;
    border-top: 0;
    color: #fff;
}

.section-title{
    font-size: 30px;
    padding-top: 40px;
    margin-bottom: 10px;
}

.description{
    font-size: 20px;
    padding-bottom: 15px;
    margin-right: 15%;
    margin-left: 15%;
}